<!DOCTYPE html>
<html lang="en-US" >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "meta.html" . }}
    <title> {{ .Title }}  </title>
    <link rel="canonical" href="{{ .Permalink }}">

{{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type | safeHTML }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title | safeHTML }}">
{{ end -}}
{{ partial "head_includes.html" . }}
</head>
<body lang="en">
